
/* This is a fix for react materialize navbar (disable mobile) */
.hide-on-med-and-down {
  display: block !important;
}
#nav-mobile {
  display: none;
}
.button-collapse {
  display: none;
}
/* End of fix */

/* This is a fix for react materialize button flat hover background (should be initial) */
.btn-flat:hover {
  background-color: initial !important;
}
/* End of fix */

.page-header-col-wrapper {
  padding-left: 0 !important;
}

@media (max-width: 992px) {
  nav .brand-logo {
    left: 1em;
  }
}